{{ define "footer" }}
        <footer class="text-muted">
            <div class="container">
            </div>
        </footer>

        <script src="/assets/js/jquery-3.4.1.min.js"></script>
        <!-- Bootstrap sliders JS -->
        <script src="/assets/js/bootstrap.bundle.min.js"></script>
        <!-- Bootstrap sliders JS -->
        <script src="/assets/js/bootstrap-slider.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script src="/assets/js/custom.js"></script>
    </body>
    </html>
{{ end }}