{{ define "test" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    <label>Pin: </label>
    <input type="text" name="pin" value="{{index . "pin"}}" required><br>
    <label>Frequency: </label>
    <input type="text" name="freq" {{index . "freq"}} required><br>
    <label>Duty Len: </label>
    <input type="text" name="duty" {{index . "duty"}} required><br>
    <label>Cycle Len: </label>
    <input type="text" name="cycle" {{index . "cycle"}} required><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>
{{ end }}